@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    /* --primary-color: #3B82F6; */
    --color-ow: #E5E7EB;
   --primary-color: #3c1d7f;
    --color-footer: #7F1D1D;
    margin: 10px 50px;

}



hr {
    margin: 1rem 0rem;
}

body {
    font-family: 'Nunito', sans-serif;   
}

/** Container **/
.container {
    padding: 2rem;
    max-width: auto;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** Links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.links-primary {
background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    border: 1px solid var(--primary-color);
}

.links-secondary {
color: var(--primary-color);
border-radius: 0.5rem;
border: 1px solid var(--primary-color);
}

/**  Lists  **/

.list-no-bullet {
    list-style: none;
    padding-inline-end: 60px;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.view-list {
    padding: 2rem;
    text-align: center;
    margin: 2rem auto;
    border-radius: 1rem;
}
/** Nav **/
.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    padding: 1rem 0.5rem;
    
}

.navigation .nav-brand
{
    font-weight: bold;
    color:white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .active-link{
    font-weight: bold;
}

.navigation .link{
    color:white;
}

/* Header */

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img{
  max-width: 350px;
  margin: auto;
  display: block;
}

.hero .hero-header{
    text-align: center;
}

.hero span{
    color: var(--primary-color);
}
/* Section */
.section {
    padding: 2rem;
    border-radius: 1rem;    
    text-align: center;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--color-ow);
}

/* Footer */

.footer {
    background-color:#3c1d7f;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    border-top-right-radius: 0.5rem;
}

.footer .link {
    color:greenyellow;
}
.footer .footer-header {
        font-size: large;
        font-weight: bold;
}
